@model VBeat.Models.PlaylistModel

@{
    ViewData["Title"] = "Details";
}

<h2>PlayList</h2>
<div class="middle-container">
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <h1>@Model.PlaylistName</h1>
                <div class="card-image-container"> <img src="@Model.PlaylistImage" alt="Image Not Found" /> </div>
                <p>@Model.Songs.Count() Songs</p>
                <a href="#"><img src="~/images/upload.png"/></a>
            </div>
        </div>
        <div class="col-sm-8 ">
            @foreach(var song in Model.Songs)
            {


            }
        </div>
    </div>
</div>