@model VBeat.Models.ShowModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>ShowModel</h4>
<hr />
<div class="row">
    <div class="col-sm-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ShowId" />
            <div class="form-group">
                <label asp-for="ShowName" class="control-label"></label>
                <input asp-for="ShowName" class="form-control" />
                <span asp-validation-for="ShowName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Country" class="control-label"></label>
                <input asp-for="Country" class="form-control" />
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StreetName" class="control-label"></label>
                <input asp-for="StreetName" class="form-control" />
                <span asp-validation-for="StreetName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HouseNumber" class="control-label"></label>
                <input asp-for="HouseNumber" class="form-control" />
                <span asp-validation-for="HouseNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShowTime" class="control-label"></label>
                <input asp-for="ShowTime" class="form-control" />
                <span asp-validation-for="ShowTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
    <div class="col-sm-4">
        <div class="add-artist-to-show col-sm-12">
            <label class="control-label">Add New Artist:</label><br />
            <select style="width:100%">
                <option value="">Add An Artist</option>
                @foreach (var artist in (IEnumerable<ArtistModel>)ViewData["Artists"])
                {
                    <option value="@artist.UserId">@artist.ArtistName</option>
                }
            </select>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="added-artists-to-show col-sm-12">
            <label class="control-label">Added Artistd:</label><br />
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<p style="display:none" class="show-id">@Model.ShowId</p>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
