body{
    padding:0;
    margin:0; 
    background-color:#000025;
    color:white;
}

/*Global*/
#middle-container{
    display:block;
    height:100%;
    width:90%;
    margin: auto;
}
ul {
    padding: 0;
    margin: 0;
}
.text-danger {
    color: white;
}
/*Header*/
header {
    background-color: #000040;
    color: white;
    margin-top: -25px;
    padding: 30px 0 0 30px;
    position: sticky;
}

header #logo{
    float:left;
    font-size: 30px;
    color: white;
    text-decoration:none;
}

header a:hover{
    color: white;
    text-decoration:none;
}

/*nav*/
header nav{
    margin: auto;
}
nav a{
    color: white;
    text-decoration:none;
}

nav li{
    float:left;
}

nav li span{
    padding: 0 20px 0 20px;
    background-color:#000050;
    border: white 2px;
}

li .li-selected a {

}

/*aside*/
aside{

}

/*Carousel*/
#carousel {
    width: 1100px;
    height: 300px;
    position: relative;
    clear: both;
    overflow: hidden;
    margin: auto;
}

#carousel img {
    visibility: hidden; /* hide images until carousel can handle them */
    cursor: pointer; /* otherwise it's not as obvious items can be clicked */
}
