
.middle-Class {
    margin: 0 auto;
    width: 90%;
}

body {
    padding: 0;
    margin: 0;
    background-color: black; /* For browsers that do not support gradients */
    background: linear-gradient(rgb(0, 0, 160), black 85%) fixed;
    background-repeat: no-repeat;
    color: white;
    font-size: medium;
}

    /********************************************************************/
body {
padding: 0;
margin: 0;
background-color: black; /* For browsers that do not support gradients */
background: linear-gradient(rgb(0, 0, 160), black 85%) fixed;
background-repeat: no-repeat;
color: white;
font-size: medium;
}

/*Global*/

div {
    text-align: center;
}

ul {
    padding: 0;
    margin: 0;
}

.text-danger {
    color: white;
}
section{
    margin-bottom:50px;
}
.middle-container{
    width: 90%;
    margin:0 auto;
}

/*Header*/
header {
    background-color: #0d0d0d;
    width: 100%;
    height: 60px;
    position: absolute;
    border-bottom: white 1px solid;
}

header a {
text-decoration: none;
font-size: 26px;
color: white;
}

header nav div.ul-container {
    float:left;
    margin: 0 auto;
    width: 100%;
}

@media screen and (min-width: 625px) {

    .custom-collapse .collapse{
        display:block;
    }  
}

header ul {
    margin: 0;
    padding: 0;
    height: 100%;
}

header ul li {
    float: right;
    list-style: none;
    padding: 10px 30px 10px 30px;
}

header li#logo {
    float:left;
    padding-left: 50px;
}

header li:hover {
    background-color: #2F4F4F;
    cursor: pointer;
}

header li:hover a {
    background-color: #2F4F4F;
    color: white;
    text-decoration: none;
}

/*aside*/
aside {
    background-color: #0d0d0d;
    width: 10%;
    height: 90%;
    position: absolute;
    border-right: white 2px solid;
    margin-top: 60px;
    min-width: 50px;
}

.menu-container {
    margin-bottom: 100px;
}

.link-button >a{
    margin-bottom: 50px;
    color: white;
}
aside a {
    text-decoration: none;
    font-size: 1.6vw;
    color: white;
}

aside li {
    list-style: none;
    padding-top: 12px;
    padding-bottom: 12px;
}

aside li:hover {
    background-color: #2F4F4F;
    cursor: pointer;
}

aside li:hover a {
    background-color: #2F4F4F;
    color: white;
    text-decoration: none;
}

/*Footer*/

audio{
    width:79%;
    margin-top:20px;
    margin-right:1%;
    float:right;
}
#audio-container{
    bottom:0;
    position:fixed;
    width:100%;
    height: 10%;
    background-color: black;
    border-top:white 1px solid;
}
#song-in-audio-name {
    float: left;
    background-color: white;
    width: 18%;
    height: 55px;
    border-radius: 30px;
    margin-top: 20px;
    margin-left: 1%;
    color: black;
    text-align: center;
    font-size: 1.5vw;
    vertical-align: central;
}

#song-in-audio-name p{
    padding-top:10px;
}

/*General Body Content*/
div.body-content {
    height: 790px;
    width: 90%;
    float: right;
    margin-top: 60px;
    overflow-y: scroll;
    padding-bottom:4%;
}

@media (min-width: 768px) {
    .carousel-multi-item-2 .col-md-3 {
        float: left;
        width: 25%;
        max-width: 100%;
    }
}

.carousel-multi-item-2 .card img {
    border-radius: 2px;
}


.carousel-caption h3 {
    font-size: 20px;
    line-height: 1.4;
    background-color: black;
    padding: 2%;
    border-radius: 25px;
    border: white 1px solid;
}
/*Section recently played*/
.frontpage_square {
    width: 100%;
    padding-bottom: 100%;
    background-size: 100% 100%;
    background-position: center;
    margin: 3.5%;
}
/*PlayList------------------------------------------------------------------------*/
.card {
    background-color: black;
    border: white 1px solid;
    border-radius: 30px;
}

.add-song-to-audio {
    position: absolute;
    background-color: black;
    border-radius: 50%;
    border:black 4px solid; 
    width: 20%;
    z-index: 3;
    display: none;
}

/* Make .svg files in the carousel display properly in older browsers */

/*View For Playlist------------------------------------------------*/
.separator {
    background-image: url('~/images/dot.png');
    display: inline-block;
    height: 5px;
    margin-bottom: 5px;
}


carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}
.card-image-container {
    position: relative;
    overflow: hidden;
    padding-bottom: 100%;
    margin-bottom: 20px;
}
img.add-playlist-to-library {
    bottom: 0;
    position: absolute;
    margin-top: 57%;
    margin-left: 40%;
}
.card img {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.card p{
    padding-bottom: 20px ;
}

.card h1 {
    padding: 20px 0;
    overflow: hidden;
}
.card a {
    padding-top: 400px;
}
.card a img {
    max-height: 5%;
    min-height: 5%;
    max-width: 5%;
    min-width: 5%;
}

div.playlist-song-container {
    height: 50px;
    width: 100%;
    background-color: transparent;
    border: white 2px solid;
    margin-bottom: 20px;
    border-radius: 30px;
    overflow: hidden;
}

div.playlist-song-container div{
    height: 40%;
    margin:2px;
}

/*Inside Song Details, add song to playlist*/
button#add-song-to-playlist,
button.add-song-to-specific-playlist {
    position: absolute;
    background-color: green;
    height: 50px;
    padding: 2% 0;
    border-radius: 30px;
    width: 100%;
    left: 2px;
    border: white 2px solid;
}
button#add-song-to-playlist:hover,
button.add-song-to-specific-playlist:hover{
    background-color: black;
}
button#add-song-to-playlist img,
button.add-song-to-specific-playlist{
    position:relative;
    height:100%;
    margin-left:10%;
}

button.add-song-to-specific-playlist{
    margin-bottom:10px;
    display:none;
}

ul#playlist-song-list{
    list-style:none;
}

img.add-song-to-audio-player{
   height:80%;
   float:left;
   margin-top:5px;
   margin-left:10px;
}
img.song-information {
    height: 80%;
    float: right;
    margin-top: 5px;
    margin-right: 10px;
}

.row {
    margin-top: 20px;
}

.first-info{
    float: left;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 16px;
    font-weight: bold;
}
.second-info {
    float: left;
    padding: 10px;
}


/*To be able to add songs to audio (from playlist)----------------------------*/
.song-path-container {
    display: none;
}

/*To be able to add songs to audio (from song display)----------------------------*/
.song-to-audio{

}