@model VBeat.Models.UserModel
@{
    ViewData["Title"] = "SignIn";
    Layout = "~/Views/Shared/NotSignedInLayout.cshtml";
}



<div class="form-wrapper">
    <h1>Sign In</h1>

    <form asp-action="SignIn" asp-controller="UserModels" method="post">
        <div class="form-item">
            <label for="email"></label>
            <input asp-for="Username" name="Username" required="required" placeholder="Username" />
        </div>
        <div class="form-item">
            <label for="password"></label>
            <input asp-for="Password" type="password" name="password" required="required" placeholder="Password" />
        </div>
        <div class="button-panel">
            <input type="submit" class="button" title="Sign In" value="Sign In" />
        </div>
    </form>

    <span style="text-align: center" class="text-danger">@ViewData["Error"]</span>
    <div class="form-footer">
    </div>
</div>