@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-1">Playlists</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Public</th>
                <th scope="col">Image</th>
            </tr>
        </thead>
        <tbody>
            @{
                ICollection<PlaylistModel> playlistList = (ICollection<PlaylistModel>)ViewData["PlaylistCollection"];
            }
            @foreach (PlaylistModel pl in playlistList)
            {
                <tr>
                    <th scope="row">@pl.PlaylistId</th>
                    <td><a href="/PlaylistModels/Details/@pl.PlaylistId">@pl.PlaylistName</a></td>
                    <td>@pl.Public</td>
                    <td><img src="@pl.PlaylistImage" /> </td>
                </tr>
            }
        </tbody>
    </table>
</div>